@page
@model Ibas.MenuApp.Pages.ContactInfoModel
@{
}

<style>
        body {
            font-family: Arial, sans-serif;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
        }
        th {
            background-color: #f2f2f2;
        }
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
    </style

<table>
    <tr>
        <td>Navn:Karen</td>
    </tr>
    <tr>
        <td>E-mail:Karen777@mail.dk</td>
    </tr>
    <tr>
        <td>Telefonnummer:30607239</td>
    </tr>
</table>
